doctype html
html
    head
        title P2Pesa
    body
        form(action='/login-user-two', method='post')
            input(type='text', name='phone', hidden='hidden', value='2063029844')
            input(type='text', name='code', placeholder='Confirmation Code')
            input(type='submit', value='Confirm')