doctype html
html
    head
        title P2Pesa Confirm
        link(href='img/favicon.ico' rel='shortcut icon')
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/style.css' rel='stylesheet')
    body
        p.title Enter your two step confirmation code!

        if user && user.branch_status == 'User'
            form(action='/login-user-two', method='post', class='form-inline')
                input(type='text', name='phone', hidden='hidden', value=user.phone)
                input(type='text', name='code', placeholder='Confirmation Code', class='form-control')
                input(type='submit', value='Confirm', class='btn btn-primary')
        else if user && user.branch_status == 'Branch'
            form(action='/withdraw', method='post', class='form-inline')
                input(type='text', name='phone', hidden='hidden', value=user.phone)
                input(type='text', name='code', placeholder='Confirmation Code', class='form-control')
                input(type='submit', value='Confirm', class='btn btn-primary')