doctype html
html
    head
        title P2Pesa Confirm
    body
        if user && user.branch_status == 'User'
            form(action='/login-user-two', method='post')
                input(type='text', name='phone', hidden='hidden', value=user.phone)
                input(type='text', name='code', placeholder='Confirmation Code')
                input(type='submit', value='Confirm')
        else if user && user.branch_status == 'Branch'
            form(action='/withdraw', method='post')
                input(type='text', name='phone', hidden='hidden', value=user.phone)
                input(type='text', name='code', placeholder='Confirmation Code')
                input(type='submit', value='Confirm')