doctype html
html
    head
        title P2Pesa
    body
        form(action='/login-user', method='post')
            input(type='text', name='phone', placeholder='Phone Number')
            input(type='password', name='pin', placeholder='Pin')
            input(type='submit', value='Login')