doctype html
html
    head
        title P2Pesa Secure
        link(href='img/favicon.ico' rel='shortcut icon')
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/style.css' rel='stylesheet')
    body
        p You are logged in securely. You have $#{sum}.
        p
            a(href='/transfer', class='btn btn-primary') Transfer Money
        p
            a(href='/logout' class='btn btn-danger') Logout